{# empty Twig template #}
{% extends 'CorredoresRiojaBundle:Corredores:zonacorredores.html.twig' %}
{% block contenido %}
    <div class="centro">
        <h1>{{carrera.nombre}}</h1>
        <div class="parteCelda">
            <img src="/bundles/corredoresrioja/images/{{carrera.imagen}}"/>
        </div>
        <div class="parteCelda2">
            <p>{{carrera.descripcion}}</p>
            <p>{{'carrera.fecha'|trans}} {{carrera.fechaCelebracion|date('Y/m/d h:m')}}
            <p>{{'carrera.distancia'|trans}} {{carrera.distancia}}</p>
            <p>{{'carrera.organiza'|trans}} <a href="{{ path('show_organizacion_slug',{'slug': carrera.organizacion.slug}) }}">{{carrera.organizacion.nombre}}</a></p>  
        </div>
    </div>
    <div class="clear"></div>
    {% if carrera.estaDisputada %}
        <div class="centro">
            <h3>{{'carrera.yanopuede'|trans}}</h3>   
            <div class="clear"></div> 
            <h3>{{'carrera.clasificacion'|trans}}:</h3>   
            <table>
                <thead>
                    <tr>
                        <th>{{'carrera.dorsal'|trans}}</th>
                        <th>{{'carrera.nombre'|trans}}</th>
                        <th>{{'carrera.tiempo'|trans}}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for participante in participantes %}
                    <tr>
                        <td>
                            {{participante.dorsal}}
                        </td>
                        <td>   
                            {{participante.corredor.nombre}} {{participante.corredor.apellidos}}<br/>
                        </td>
                        <th>
                            {{participante.tiempo}}
                        </th>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>

        </div>
    {% else %}
        <div class="centro">
            {% if carrera.finalizadaFechaInscripcion %}
                <h3>{{'carrera.yanopuede'|trans}}</h3>
            {% else %}
                <h3>{{'carrera.hasta'|trans({ '%fecha%' : carrera.fechaLimiteInscripcion|date('d \\d\\e M \\d\\e Y') })}} </h3>
                <div style="float:right; padding:10px 5px">
                    <a style="padding:5px 8px 5px 10px;background:#5C7E6D;color:#FFF" 
                       href="{{ path('apuntar_carrera',{'slug':carrera.slug}) }}" ><span>{{'portada.inscribete'|trans}}</span> </a>
                </div>
            {% endif %}

            <div class="clear"></div>   
            <h3>{{'carrera.inscritos'|trans}}:</h3>
            {% for participante in participantes %}
                <p>{{participante.corredor.nombre}} {{participante.corredor.apellidos}}</p>
            {% else %} 
                {{'carrera.noinscritos'|trans}}
            {% endfor %}

        </div>
    {% endif %}
    <div class="clear"> </div> 
{% endblock %}