{# empty Twig template #}
{% extends 'CorredoresRiojaBundle:Corredores:zonacorredores.html.twig' %}
{% block contenido %}
    <h1>{{'carreras.nodisputadas'|trans}}</h1>
    <div class="centro">
    <ul>
        <li class="columna">
            <ul>
                {% for carrera in carrerasPorDisputar %}
                    <li class="celda">
                        <div class="parteCelda">
                            <img src="/bundles/corredoresrioja/images/{{carrera.imagen}}"/>
                        </div>
                        <div class="parteCelda2">
                            <h3><a href="{{ path('show_carrera_slug',{'slug':carrera.slug}) }}">{{carrera.nombre}}</a></h3>
                            <p>{{carrera.fechaCelebracion|date('Y/m/d h:m')}}</p>
                            <div style="float:right; padding:10px 5px">
                                <a style="padding:5px 8px 5px 10px;background:#5C7E6D;color:#FFF" 
                                   href="{{ path('apuntar_carrera',{'slug':carrera.slug}) }}" ><span>{{'portada.inscribete'|trans}}</span> </a>
                            </div>
                        </div>    
                    </li>
                {% endfor %}
            </ul>
        </li>
    </ul>
</div>
<div class="clear"></div>   
<h1>{{'carreras.disputadas'|trans}}</h1>

<div class="centro">
<ul>
    <li class="columna">
        <ul>
            {% for carrera in carrerasDisputadas %}
                <li class="celda">
                    <div class="parteCelda">
                        <img src="/bundles/corredoresrioja/images/{{carrera.imagen}}"/>
                    </div>
                    <div class="parteCelda2">
                        <h3><a href="{{ path('show_carrera_slug',{'slug':carrera.slug}) }}">{{carrera.nombre}}</a></h3>
                        <p>{{carrera.fechaCelebracion|date('Y/m/d h:m')}}</p>
                        <div style="float:right; padding:10px 5px">
                            <a style="padding:5px 8px 5px 10px;background:#5C7E6D;color:#FFF" 
                               href="{{ path('show_carrera_slug',{'slug':carrera.slug}) }}" ><span>{{'carreras.clasificaciones'|trans}}</span> </a>
                        </div>
                    </div>    
                </li>
                <div class="clear"></div>  
            {% endfor %}
        </ul>
    </li>
</ul>
</div>
<div class="clear"></div>
{% endblock %}