{# empty Twig template #}
{% extends 'CorredoresRiojaBundle:Corredores:zonacorredores.html.twig' %}

{% block contenido %}
    <p> {{'carreras.saludo'|trans({ '%nombre%' : nombre })}} </p>


    <h2>{{'carreras.nodisputadas'|trans}}</h2>
    <div class="centro"/>
    <ul>
        <li class="columna">
            <ul>
                {% for carrera in carrerasNODisputadas %}
                    <li class="celda">
                        <div class="parteCelda">
                            <img src="/bundles/corredoresrioja/images/{{carrera.imagen}}"/>
                        </div>
                        <div class="parteCelda2">
                            <h3><a href="{{ path('show_carrera_slug',{'slug':carrera.slug}) }}">{{carrera.nombre}}</a></h3>
                            <p>{{carrera.fechaCelebracion|date('Y/m/d h:m')}}</p>
                            <div style="float:right; padding:10px 5px">
                                <a style="padding:5px 8px 5px 10px;background:#5C7E6D;color:#FFF" 
                                   href="{{ path('desapuntar_carrera',{'slug':carrera.slug}) }}" ><span>{{'carreras.desapuntarse'|trans}}</span> </a>
                            </div>
                        </div>    
                    </li>
                {% else %} 
                    <p> {{'carreras.nohasapuntado'|trans}}</p>
                {% endfor %}
            </ul>
        </li>
    </ul>
</div>
<div class="clear"></div>   
<h2>{{'carreras.disputadas'|trans}}</h2>
<div class="centro"/>
<ul>
    <li class="columna">
        <ul>
            {% for carrera in carrerasDisputadas %}
                <li class="celda">
                    <div class="parteCelda">
                        <img src="/bundles/corredoresrioja/images/{{carrera.imagen}}"/>
                    </div>
                    <div class="parteCelda2">
                        <h3><a href="{{ path('show_carrera_slug',{'slug':carrera.slug}) }}">{{carrera.nombre}}</a></h3>
                        <p>{{carrera.fechaCelebracion|date('Y/m/d h:m')}}</p>
                        <div style="float:right; padding:10px 5px">
                            <a style="padding:5px 8px 5px 10px;background:#5C7E6D;color:#FFF" 
                               href="{{ path('show_carrera_slug',{'slug':carrera.slug}) }}" ><span>{{'carreras.clasificaciones'|trans}}</span> </a>
                        </div>
                    </div>    
                </li>
            {% else %} 
                <p> {{'carreras.nohasdisputado'|trans}}</p>   
            {% endfor %}

        </ul>
    </li>
</ul>
</div>
{% endblock %}