{# empty Twig template #}
{% extends 'CorredoresRiojaBundle:Corredores:zonacorredores.html.twig' %}
{% block contenido %}
    <div class="centro">
        <h1>{{organizacion.nombre}}</h1>
        <p>{{organizacion.nombre}}</p>
        <p><a href="mailto:{{organizacion.email}}">{{'pie.contacto'|trans}}</a></p>
        <p>{{'organizacion.organizadas'|trans}}</p>
        <ol>
            {% for carrera in carreras %}
            <li><a href="{{ path('show_carrera_slug',{'slug':carrera.slug}) }}">{{carrera.nombre}}</a></li>
            {% else %}
            {{'organizacion.nohaorganizado'|trans}}
            {% endfor %}
        </ol>
    </div>
    <div class="clear"> </div>   
{% endblock %}