{# empty Twig template #}
{% extends '::base.html.twig' %}

{% block submenu %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <ul>
            <li>
            <a href="{{ path('corredores_rioja_homepage') }}">{{'submenu.portada'|trans}}<br/></a>
        </li>
        <li>
            <a href="{{ path('show_carreras') }}">{{'submenu.carreras'|trans}}<br/></a>
        </li>
        <li>
            <a href="{{ path('show_mis_carreras') }}">{{'submenu.miscarreras'|trans}}<br/></a>
        </li>
        <li>
            <a href="{{ path('perfil') }}">{{'submenu.perfil'|trans}}<br/></a>
        </li>
        <li>
            <a href="{{ path('usuario_logout') }}">{{'submenu.logout'|trans}}<br/></a>
        </li>
        </ul>
        <div style="clear: left;"></div>
    {% else %}
        <ul>
            <li>
            <a href="{{ path('corredores_rioja_homepage') }}">{{'submenu.portada'|trans}}<br/></a>
        </li>
        <li>
            <a href="{{ path('show_carreras') }}">{{'submenu.carreras'|trans}}<br/></a>
        </li>
        <li>
            <a href="{{ path('show_mis_carreras') }}">{{'submenu.miscarreras'|trans}}<br/></a>
        </li>
            <li>
                <a href="{{ path('usuario_login') }}">{{'submenu.login'|trans}}<br/></a>
            </li>
        </ul>
        <div style="clear: left;"></div>
    {% endif %}   
{% endblock %}